{
    "spotify": {
        "client_id":    "the client id",
        "client_secret":"your spotify app dev key",
        "redirect_uri": "http://localhost:1234",
        "scope":        "user-library-read user-read-playback-state user-read-recently-played",
        "cache_path":   ".cache"
    },
    "bluesky": {
        "handle": "your-user-name.whatever",
        "password": "your super strong password",
        "session": "leave-the-default"
    }
}
